---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/Base.astro";

const auth = getAuth(app);

/* Check current session */
if (!Astro.cookies.has("__session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("__session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/signin");
}
---

<Layout title="dashboard">
    <section class="section-sm">
      <div class="container">
        <div class="row">
          <div class="mx-auto md:col-10 lg:col-6 text-center">
            <h1 class="text-3xl font-bold mb-4">Bem-vindo, {user.displayName}!</h1>
            <p class="mb-6 text-lg">Bom ver você aqui</p>
            <form action="/api/auth/signout" method="post">
              <button 
                type="submit" 
                class="btn btn-primary w-full md:w-auto">
                Sair
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </Layout>
  