---
import Base from "@/layouts/Base.astro";
export const prerender = true;
---

<Base title="Feedback Enviado">
  <section class="section-sm">
    <div class="container text-center">
      <h1 class="text-2xl">Obrigado por nos contatar!</h1>
      <p>Sua mensagem foi enviada com sucesso. Agradecemos pela sua participação.</p>
    </div>
  </section>
</Base>
