---
import Layout from "../layouts/Base.astro";
---

<Layout title="Register">
    <section class="section-sm">
      <div class="container">
        <div class="row">
          <div class="mx-auto md:col-10 lg:col-6">
            <h1 class="text-2xl font-bold mb-4 text-center">REGISTRAR</h1>
            <form action="/api/auth/register" method="post">
              <div class="mb-6">
                <label for="name" class="form-label">Nome Completo<span class="text-red-500">*</span></label>
                <input 
                  type="text" 
                  name="name" 
                  id="name" 
                  class="form-input" 
                  placeholder="Seu Nome Completo" 
                  required 
                />
              </div>
              <div class="mb-6">
                <label for="cpf_cnpj" class="form-label">CPF ou CNPJ<span class="text-red-500">*</span></label>
                <input 
                  type="text" 
                  name="cpf_cnpj" 
                  id="cpf_cnpj" 
                  class="form-input" 
                  placeholder="Digite seu CPF ou CNPJ" 
                  required 
                />
              </div>
              <div class="mb-6">
                <label for="email" class="form-label">E-mail<span class="text-red-500">*</span></label>
                <input 
                  type="email" 
                  name="email" 
                  id="email" 
                  class="form-input" 
                  placeholder="seuemail@email.com" 
                  required 
                />
              </div>
              <div class="mb-6">
                <label for="password" class="form-label">Senha<span class="text-red-500">*</span></label>
                <input 
                  type="password" 
                  name="password" 
                  id="password" 
                  class="form-input" 
                  placeholder="••••••••" 
                  required 
                />
              </div>
              <button type="submit" class="btn btn-primary w-full">Cadastrar</button>
            </form>
            <p class="mb-6">
                Já possui uma conta? <a href="/signin" class="text-blue-500 hover:underline">Entrar</a>
              </p>
          </div>
        </div>
      </div>
    </section>
  </Layout>
  