---
import Layout from "../../layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import ProductCard from "@/components/ProductCard.astro";

interface Product {
  id: string;
  title: string;
  price: string;
  image: string;
}

// Faz a requisição para a rota API criada
const response = await fetch('/api/products');
console.log(response);
const data = await response.json();

// Mapeia os dados do Bling para o formato esperado pelo frontend
const products = data.retorno.produtos.map((item) => ({
  id: item.produto.codigo,
  title: item.produto.descricao,
  price: item.produto.preco,
  image: item.produto.urlImagem || '' // Verifique o campo correto da imagem
})) as Product[];
---

<Layout title="products">
  <PageHeader title='Products' />
  <section class="section-sm pb-0">
    <div class="container">
      <div class="row justify-center">
        {
          products.map((product) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <ProductCard data={product} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>